{% extends 'app1/layout.html' %}
{% load static %}

{% block title %} {{ product.product_name }} {% endblock %}

{% block extra_head %}
        <link rel="stylesheet" href="{% static 'app1/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'products/css/styles.css' %}">
{% endblock %}

{% block body %}

        <div class="container">
                <div class="row">
                        <div class="col-md-6">
                                <img src="{{ product.product_image.url }}" class="img-fluid" alt="{{ product.product_name }}">
                        </div>
                        <div class="col-md-6 ms-3" id="product-detail-card">
                                <h2> {{ product.product_name }} </h2>
                                <p><strong> Description: </strong> {{ product.product_description }} </p>
                                <p><strong> Price: </strong> Ksh. {{ product.product_price }} </p>
                                <p><strong> Stock: </strong> {{ product.product_quantity }} </p>
                                <button class="btn btn-success"> Add to Cart </button>
                        </div>
                </div>
        </div>

{% endblock %}
